@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, #0a0a0a, #3a4452);
}

.calculator {
    background: #1e232a;
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
    text-align: center;
    padding: 20px;
}

input {
    width: 100%;
    border: none;
    padding: 20px;
    margin-bottom: 10px;
    background: transparent;
    font-size: 30px;
    text-align: right;
    color: #fff;
    outline: none;
}

input::placeholder {
    color: #bbb;
}

button {
    width: 60px;
    height: 60px;
    margin: 5px;
    border: none;
    border-radius: 50%;
    font-size: 24px;
    background: #353b45;
    color: #fff;
    cursor: pointer;
    transition: background 0.3s ease;
}

button:hover {
    background: #4d5461;
}

.equalBtn {
    background-color: #fb7c14;
    color: #fff;
}

.operator {
    background-color: #6dee0a;
}

.clear {
    background-color: #ff5050;
}

.zero {
    width: 120px;
}

